
__pycache__/
*.py[cod]
*$py.class


venv/
.venv/
env/
ENV/

.env
firebase-adminsdk.json

alembic/versions/*.pyc
alembic/versions/__pycache__/

*.log
logs/
log/

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/

.pytest_cache/
.coverage
htmlcov/

*.sqlite
*.db
*.tmp

images/
test/
uploads/
outputs/


.cache/
